* {
    margin: 0;
    padding: 0;
}
body {
	background-repeat: no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    background-attachment: fixed;
	/*background-color: #c7b39b; /* Цвет фона */
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#content{
    margin:0 auto;
	float:center;
}
main { 
	position: relative; 
	margin: 0 auto; 
	padding-right: 310px; 
}
aside { 
	width: 300px; 
	position: absolute; top: 0; right: 0; 
}
table.a{
	background: rgba(10, 139, 237, 0.1);
	width: 30%; 
	height: 100%;
	float:left;
	padding:0 0 0 5%;
	border-right: 1px solid #fff;
}
table.a td {
    padding: 5px;
    vertical-align: top;
   }
table.b {
	background: url(../images/main.jpg);
	background-size: cover;
	width: 100%;
	height: 30%; 
	position: relative; 
	float:top;  
	border: 1px solid #fff;
}
table.c{
	background: rgba(107, 93, 111, 0.3);
	height: 100%; 
	width: 60%;
	border-spacing: 0;  
	float:right;
}  
div.data{
	background: rgba(10, 139, 237, 0.1); 
	text-align: center;
	height: 100%;
	min-width: 30%;
}
textarea{  
	width: 70%;  
	max-width: 2000px;
	min-width: 500px;
	height: 30%;    
	resize: both;
}
div.about{
	background: rgba(10, 139, 237, 0.1);
	text-shadow: 1px 1px 1px white, 0 0 4em white; 
	float:center;
	padding: 5%;
	text-align:center;
	font-size: 1.2em;
	display: block;
}
.shadowtext {
	text-shadow: 1px 1px 2px black, 0 0 1em blue;
    color: white;
    font-size: 2em;
}
p.hover{
	width: 80%;
	max-width: 550px;
	margin: 10px 5px;
	padding: 1em;
	border: 1px solid #ccc;
	box-shadow: 3px -1px 5px 3px rgba(0, 0, 0, .2);
}
.navigation{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.navigation .item{
	position: absolute; 
}
.user{
    top:50%;
    left:5%;	
}
.home{
   top:20%;
   left:25%;  
}
.shop{
   top:20%;
   left:55%;  
}
.camera{
   top:50%;
   left:75%;  
}
.fav{
   top:26.250em;
   left:59.375em;
}
a.icon{
    width:52px;
    height:52px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}
.user a.icon{
    background:transparent url(../images/user.png) no-repeat 0px 0px;
}
.home a.icon{
    background:transparent url(../images/home.png) no-repeat 0px 0px;
}
.shop a.icon{
    background:transparent url(../images/shop.png) no-repeat 0px 0px;
}
.camera a.icon{
    background:transparent url(../images/camera.png) no-repeat 0px 0px;
}
.fav a.icon{
    background:transparent url(../images/fav.png) no-repeat 0px 0px;
}
.navigation .item a.active{
    background-position:0px -52px;
}
.item img.circle{
    position:absolute;
    top:0px;
    left:0px;
    width:3.250em;
    height:3.250em;
    opacity:0.1;
}
.item h2{
    position:absolute;
    width:147px;
    height:3.250em;
    color:#222;
    font-size:15px;
    top:0px;
    left:52px;
    text-indent:10px;
    line-height:52px;
    text-shadow:1px 1px 1px #fff;
    text-transform:uppercase;
}
.item h2.active{
    color:#fff;
    text-shadow:1px 0px 1px #555;
}
.item ul{
    list-style:none;
    position:absolute;
    top:60px;
    left:25px;
    display:none;
}
.item ul li a{
    font-size:15px;
    text-decoration:none;
    letter-spacing:1.5px;
    text-transform:uppercase;
    color:#222;
    padding:3px;
    float:left;
    clear:both;
    width:100px;
    text-shadow:1px 1px 1px #fff;
}
.item ul li a:hover{
    background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
}